<p style="color: green"><%= notice %></p>

<h1>User books</h1>

<div id="user_books">
  <% @user_books.each do |user_book| %>
    <%= render user_book %>
    <p>
      <%= link_to "Show this user book", user_book %>
    </p>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Book Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_books.each do |user_book| %>
      <tr>
        <td><%= User.where(id: user_book.user_id).last.username %></td>
        <td><%= Book.where(id: user_book.book_id).last.title %></td>
        <td><%= link_to 'Show', user_book %></td>
        <td><%= link_to 'Edit', edit_user_book_path(user_book) %></td>
        <td><%= link_to 'Destroy', user_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New user book", new_user_book_path %>

<br>

<%= link_to "Book index", books_path%>

<br>

<%= link_to "User index", users_path%>
